.preview{
    display: flex;
    justify-content: center;
}
  
.preview span{
    font-size: 27px;
}

.btn{
    padding: 10px;
    border-radius: 13px;
    user-select: none;
    margin: 0 20px;
    border: 1px solid black;
    margin-left: 325px;
    margin-right: auto;
    
}

.btn:hover{
    color:white;
    background-color: rgb(165, 95, 179);;
}


